ul#shift4shop_widget_products {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
li.shift4shop_widget_product {
    list-style: none;
}
.shift4shop_widget_product > a {
	display: block;
	padding: 3px;
}
.shift4shop_widget_product > a:hover {
	text-decoration: none !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #efefef;
}
.shift4shop_widget_product > a:after {
	content: "";
	clear: both;
	display: table;
}
.shift4shop_widget_product_img {
    width: 65px;
    height: 65px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    background-color: #ffffff;
}
.shift4shop_widget_product_img > img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.shift4shop_widget_product_details {
    float: left;
    width: calc(100% - 80px);
    color: #222222;
}
.shift4shop_widget_product_name {
    font-size: 15px;
    line-height: 1.5;
    margin: 5px 0;
}
span.shift4shop_widget_product_price,
span.shift4shop_widget_product_saleprice {
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
}
del.shift4shop_widget_product_price {
	font-size: 13px;
	display: inline-block;
	margin-right: 5px;
}